*.iml
.gradle
/local.properties
*.log
hs_err_pid*.log
empty.txt
tmp_richeditor_src/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin daemon sessions
.kotlin/

# Root-level build output
/build/
/app/build/
